*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body,html{
width: 100%;
}
h1{
    font-size: 2rem;
}
p{
font-size: 1.2rem;
}
.blue{
    color: blue;
}
.yellow{
    color: rgb(255, 208, 0);
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
#heading{
    font-size: 2.2rem;
}
.main{
    width: 80%;
    padding: 80px 0;
    margin: 0 auto;
    color: #474747;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-data-options{
display: flex;
gap: 1rem;
width: 100%;
}
.option{
    width: 33.3%;
}
.option-tag,.email{
display: flex;
align-items: center;
}
img{
    width: 16%;
}
label{
    display: block;
}
.form-data1{
    display: flex;
    gap: 20px;
}
.form-data1>div{
    width: 25%;
}
input{
margin-bottom:20px ;
}
input[type=text],select{
    width: 240px;
    height: 27px;
}
.common-form-layout{
    display: flex;
    gap: 20px;
    width: 100%;
}
.common-form-layout>div{
    width: 50%;
}
.policy{
    padding-top: 4%;
}
button{
    background: rgb(123, 135, 130);
    border: 2px solid rgb(22, 23, 23);
    border-radius: 2px;
    transition: all 800ms ease;
}
button:hover{
transform: scale(1.05);
background: rgb(182, 173, 173);
color: rgb(26, 29, 32);
}
footer{
    color:#A5A6AA;
    background-color: #1C1D21;
    display: flex;
    justify-content: space-between;
    padding: 20px 190px;
    text-wrap: nowrap;
}
footer img{
    width: 50%;
}
@media screen and (max-width:1400px){
    .main{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    *{
        flex-direction: column;
    }
    .option,.common-data-items,.form-data-items{
        width: 100%;
    }

}